.main {
  width: 100%;
  height: 400px;
}
/* form styling */
form{
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  width: 30%;
  font-size: 16px;
}
input{
  width: 100%;
  height: 35px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(253, 249, 249);
}
input:focus{
  border: 2px solid rgba(0, 206, 158, 1);
}

textarea{
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  max-height: 50%;
  min-height: 30%;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}
textarea:focus{
  border: 2px solid rgba(0,206 , 158, 1);
}
label{
  margin-top: 15px;
}

input[type="submit"] {
  margin-top: 15px;
  cursor: pointer;
  background: rgb(249, 105, 14);
  color: whitesmoke;
  border: none;
}

/* form styling end */


/*home*/
.home{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.homeUi{
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
}

.article a{
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: right;
  margin-top: 60px;
  position: absolute;
  left: 90%;
  color: blue;
  font-weight: 600;
  text-decoration: none;
}

.article a:hover{
  text-decoration: underline;
  color: rgb(249, 105, 14);
}

input{
  outline: none;
  margin: 5px;
  border: 1px solid gray;
}

button:hover{
  background-color: rgb(249, 105, 14);
  color: white;
}

/* single repo */
.showSingle{
  text-align: center;
}

.single-repo {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 20px;
  width: 375px;
  height: 150px;
  word-wrap: break-word;
  background-color: rgb(253, 249, 249);
  border-radius: 2px;
  border: 1px solid gray;
  cursor: pointer;
}


.single-repo dl {
  padding-left: 30px;
}
/*navbar*/
.ul-list {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  height: 120px;
}
.navBar {
  background-color: black;
}

.ul-list li {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 20px auto;
  font-size: 30px;
}

.single {
  display: grid;
  height: 450px;
  width: 100%;
  color: black;
  margin:0px auto;
}
.oneRepo {
  display: inline-flex;
  flex-wrap: wrap;
  height: 300px;
  width: 100%;
  color: black;
}

.single li {
  list-style-type: none;
  font-size: 15px;
}

.showone {
  display: inline-block;
  width: 700px;
  height: 300px;
  background-color: rgb(253, 249, 249);
  border: 1px solid gray;
  border-radius: 2px;
  word-wrap: break-word;
  margin: 50px auto;
  /* font-size: 20px; */
}


/*contact section*/
.contact-list {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 100px auto;
}

.contact-list li {
  margin: 50px auto;
  list-style-type: none;
}

.contact-list a {
  margin: 50px auto;
  text-decoration: none;
  font-size: 2em;
}

/*Footer page*/
.footer {
  background-color: rgb(45, 44, 44);
  color: #fdf208;
  width: 100%;
  height: 100px;
  margin: 20 auto;
  margin-bottom: 0px;
}

.footer-list li {
  margin: 20px auto;
  list-style-type: none;
}

.footer-list {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 100%;
}

.footer-list a {
  text-decoration: none;
  color: #fdf208;
}

/*Error page styling done mostly inline*/

.error-page {
  height: 300px;
  width: 100%;
}

span {
  color: red;
}

/* outlet styling */
.outlet{
  height: 630px;
}

/*navbar styling*/

@media only screen and (max-width: 400px) {
  .showone {
    display: inline-block;
    width: 300px;
    height: 420px;
    background-color: rgb(253, 249, 249);
    border: 1px solid gray;
    border-radius: 2px;
    word-wrap: break-word;
    margin: 50px auto;
    /* font-size: 20px; */
  }

  .outlet{
    height: 700px;
    width: 350px;
  }
  .app{
    height: 667px;
    width: 375px;
  }
  .navBar {
    margin: 0 auto;
  }
  .ul-list li {
    display: inline-flex;
    font-size: 20px;
    font-weight: bold;
  }
  .navBar {
    margin-top: 0;
    height: 100px;
  }
  

.home{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 730px;
  font-size: 12px;
}
.article{
  margin-top: -20px;
  font-size: 16px;
  text-align: center;
  align-items: center;
}



  .homeUi{
    display: flex;
    margin: 20px auto;
    
  }

  .footer {
    width: 100%;
    font-size: 14px;
    background-color: black;
    text-align: center;
    align-items: center;
    height: 150px;
    margin-bottom: 0px;
  }

  .footer-list li {
    margin: 20px auto;
    list-style-type: none;
    text-align: center;
  }

  .main h1 {
    font-size: 18px;
  }

  .about-para {
    font-size: 10px;
    height: 550px;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
    overflow-y: hidden;
  }
  .contact-page h1 {
    margin-top: 30px;
    font-size: 22px;
  }
  .contact-page {
    height: 580px;
  }
  .contact-page h2 {
    margin-top: 60px;
    font-size: 25px;
  }
  .contact-list {
    height: 140px;
  }
  .nav-list {
    margin: 20px auto;
  }
  .contact-list a {
    margin: 10px auto;
    font-size: 20px;
  }
  .contact-list li {
    display: inline-flex;
    flex-wrap: wrap;
  }


  .error-page {
    height: 380px;
  }

  .message {
    margin-top: 200px;
  }
  form{
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    width: 50%;
    font-size: 16px;
  }
  input{
    width: 100%;
    height: 35px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
  }
  input:focus{
    border: 2px solid rgba(0, 206, 158, 1);
  }
  
  textarea{
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    max-height: 50%;
    min-height: 30%;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
  }
  textarea:focus{
    border: 2px solid rgba(0,206 , 158, 1);
  }
  label{
    margin-top: 15px;
  }
  
  input[type="submit"] {
    margin-top: 15px;
    cursor: pointer;
    background: rgb(249, 105, 14);
    color: whitesmoke;
    border: none;
  }
  
}
